/* Style utilizado para fazer com que as setas nos input de tipo number desapareçam */
input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
}

h1,h2 {
    text-align: center;
}

h2 {
    margin-bottom: 30px;
}

.div-hr {
    position: relative;
    bottom: 8px;
    border: 0;
    border-top: 1px solid black;
    width: 40.8%;
    margin: auto;
}

.formulario {
    margin: auto;
    width: 40%;
    border: 2px solid #c2c2c2;
    border-right: 2px solid #585958;
    border-bottom: 2px solid #585958;
    padding: 2px 4px 2px 2px;
}

.formulario .formu .session1,.session2 {
    width: 100%;
    border: 1px solid #585958;
    border-right: 1px solid #c2c2c2;
    border-bottom: 1px solid #c2c2c2;
}

.formulario .formu .session1 {
    position: relative;
    display: grid;
    text-align: center;
    margin-bottom: 2px;
}

.formulario .formu .DP,.IM {
    font-weight: bold;
    text-align: start;
    position: relative;
    bottom: 10px;
}

.formulario .formu .session1 .dados1 {
    position: relative;
    bottom: 12px;
    display: grid;
    width: 76%;
    text-align: end;
    border-radius: 0;
}

.formulario .formu .session1 .dados1 label {
    margin-bottom: 2px;
    margin-top: 2px;
}

.formulario .formu .session1 .dados1 input {
    padding: 3px 0;
    border-radius: 0;
    border: 1px solid #c2c2c2;
}

.formulario .formu .session1 .dados1 input[type=text] {
    width: 50%;
}

.formulario .formu .session1 .dados1 input[type=email] {
    width: 50%;
}

.formulario .formu .session1 .camp2 {
    width: 86.7%;
}

.formulario .formu .session1 .dados1 .dm {
    width: 40px;
}
.formulario .formu .session1 .dados1 .aaaa {
    width: 50px;
}

.formulario .formu .session1 .dados1 .DDD {
    width: 44px;
}

.formulario .formu .session1 .dados1 .Telefone {
    width: 120%;
    margin-bottom: 2px;
    margin-top: 2px;
}

.formulario .formu .session1 .dados1 .Telefone .Tel {
    width: 72px;
}

.formulario .formu .session2 .dados2 {
    display: flex;
    margin-left: 10px;
    position: relative;
    bottom: 20px;
    margin-bottom: -30px;
}

.formulario .formu .session2 .dados2 .seq {
    width: 25%;
}

.formulario .formu .session2 .dados2 .seq1 {
    width: 18%;
    margin-left: 45px;
}

.formulario .formu .session2 .dados2 .seq1 label {
    display: flex;
}

.formulario .formu .session2 .dados2 .seq2 {
    width: 38%;
}

.formulario .formu .session2 .dados2 .seq2 label {
    display: flex;
}
    
.btn {
    margin: auto;
    text-align: center;
    position: relative;
    top: 40px;
}